/.vscode
/datachanges.py
/dummy_data.csv
/dummy_data_with_predictions.csv
/hello.cpp
/hello.exe
/linkedlist.cpp
/linkedlist.exe
/linkedlist_using_array.cpp
/linkedlist_using_array.exe
/output
/pricing_model.pkl
/pricing_model.py
/setup.py
/singlylinkedlist.cpp
/tempCodeRunnerFile.cpp
/tempCodeRunnerFile.exe
/train_and_predict.py